<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

  <%= @article.title %>
  <%= @article.content %>
  <h1> <%= @article.title %>was deleted</h1>

  </body>
</html> 
